@use "mixins" as *;

header {
  ul {
    margin: 0;
    margin-top: 0;
    padding-top: 50px;
    list-style: none;
    overflow: hidden;
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    z-index: 100;

    a {
      display: block;
      padding: 5px;
      text-decoration: none;
      color: #fff;
      text-align: center;
      font-size: 20px;

      &:hover {
        background-color: transparent;
        text-decoration: underline;
      }
    }
  }

  .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
    z-index: 101;

    .nav-icon {
      background-color: #fff;
      display: block;
      height: 4px;
      width: 25px;
      margin: 10px;
      border-radius: 2px;
      position: relative;
      transition: background 0.2s ease-out;

      &:before {
        background: #fff;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 2px;
        position: absolute;
        transition: all 0.2s ease-out;
        top: 7px;
      }

      &:after {
        background: #fff;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 2px;
        position: absolute;
        transition: all 0.2s ease-out;
        top: -7px;
      }
    }
  }
  .menu-btn {
    display: none;

    &:checked ~ .menu {
      max-height: 240px;
      display: block;
      transition: all 0.2s ease-out;
    }

    &:checked ~ .menu-icon .nav-icon {
      background: transparent;

      &:before {
        transform: rotate(-45deg);
        top: 0;
      }

      &:after {
        transform: rotate(45deg);
        top: 0;
      }
    }
  }
}

@media (min-width: 748px) {
  header {
    background-color: rgba(0, 0, 0, 0);
    ul {
      display: contents;
      padding-top: 0;
      float: right;

      li {
        a {
          padding: 20px 30px;
        }
      }
    }

    .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .menu-icon {
      display: none;
    }
  }
}
