$nav-height: 5em;

body,
html {
  margin: 0;
}

header {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: $nav-height;
  z-index: 10;
}
.menu {
  display: flex;
  flex-direction: row;
}

.frontpage {
}

.arrow {
  text-align: center;
  flex: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 2em;
  color: black;
  margin-bottom: 1em;
}

container {
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  height: 100vh;
  position: relative;
  &#home {
    background-image: url(/assets/negative-space-black-forest-dawn.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - $nav-height);
    padding-top: $nav-height;
    .arrow {
      color: white;
    }
  }
}

#home {
  text-align: center;
  height: 100vh;
  justify-content: center;
  @media screen and (min-width: 768px) {
    section {
      display: flex;
      flex-direction: row;
      height: 100vh;
    }
  }

  h1 {
    color: white;
  }

  p {
    color: white;
  }

  .team {
    height: auto;
    background-color: white;
  }

  .information {
    display: flex;
    flex-direction: center;
  }
}
