@use "mixins" as *;

$nav-height: 4em;

body,
html {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 14pt;
}

a {
  color: #000;
}

header {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: $nav-height;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: end;
}

.arrow {
  text-align: center;
  flex: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 2em;
  color: black;
  margin-bottom: 0.2em;
}

container {
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  position: relative;
  &#home {
    background-image: url(/assets/negative-space-black-forest-dawn.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - $nav-height);
    padding-top: $nav-height;
    .arrow {
      color: white;
    }
  }
}

h1 {
  color: #fff;
}

p {
  color: #fff;
}

.team {
  height: auto;
  background-color: #fff;
}

.contact {
  color: #fff;
}

.information {
  @include flex-center;
}

.info {
  color: #fff;
}

#home {
  text-align: center;
  height: 100vh;
  justify-content: center;
  @media screen and (min-width: 768px) {
    section {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }
  }
}
